.footerCol li{
    font-size: 14px;
    

}
.footerCol a{
    color: white;
    text-decoration: none;
}
/* Footer.module.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.footer {
  background-color: #070708;
  padding: 70px 0;
  color: white;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding-right: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footerCol {
  width: 25%;
  padding: 20px;
}

.jump {
  padding-bottom: 30px;
}

.jump img {
  width: 110px;
  height: 50px;
}

/* Assuming p styles are specifically for paragraphs within the footer component */
.p {
  color: #b8b2b2;
}

.join {
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  color: white;
}

.socialLinks a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.091);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.socialLinks a:hover {
  color: gold;
  background-color: rgb(54, 50, 50);
}

.footerCol h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footerCol h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
  background-color: white;
}

.footerCol ul {
  list-style: none;
  padding: 0;
}

.footerCol ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #b8b2b2;
  display: block;
  transition: all 0.3s ease;
}

.footerCol ul li a:hover {
  color: gold;
  padding-left: 8px;
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .footerCol {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footerCol {
    width: 100%;
  }
  .row {
    flex-direction: column;
  }
}

/* Copyright specific styles */
.copyright {
  text-align: center;
  padding: 25px;
  background: rgb(39, 38, 38);
  font-weight: 300;
}

